body{
    font-family: avenir, sans-serif ;
    margin: 0;
    margin-left: 45px;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: auto ;
    margin-top: 10px;
}

h1 {
    font-family: avenir, sans-serif;
    font-size: 32px;
    color: #636363;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: 300px;
    background-image: url(IMG/txtbg.png);
    background-repeat: no-repeat;
    background-position: 290px 21px;
}

#name{
    padding-left: 60px ;
    padding-top: 30px ;
}

.nav li {
    display: inline-block ;
}

.nav li a {
    display: block;
    padding-left: 50px;
    color: #BFBFBF ;
    font-size: 15px;
    font-weight: 400;
    text-decoration:none ;
}

.nav {
    padding-left: 300;
    padding-top: 60;
}

.nav li a:hover{
    color: #4C4C4C ;
}
.social{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-left: 130px;
    padding-top: 110;
}

.buttons{
    list-style-type: none;
}

.buttons li{
    padding-top: 10px;
}

#homepage_gallery {
    display:grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 50px ;
    grid-row-gap: 40px ;

}


/* c1 starts */
.c1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    cursor: pointer;
}

.c1:hover .c1-txt{
    width: 240;
}

.c1 img{
    display: block;
    width: 240;
    height: 240;
}

.c1-txt{
    width: 0;
    height: 240;
    background-color: rgba(255, 255, 255, 0.28);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease;
}

.c1-txt h2{
    color: white;
    font-size: 20px;
    border: 2px solid white;
    padding: 10px 30px;
}
/* c1 ends */
/* c2 starts */
.c2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    cursor: pointer;
}
.c2:hover .c2-txt{
    width: 240;
}

.c2 img{
    display: block;
    width: 240;
    height: 240;
}

.c2-txt{
    width: 0;
    height: 240;
    background-color: rgba(255, 255, 255, 0.28);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease;
}

.c2-txt h2{
    color: white;
    font-size: 20px;
    border: 2px solid white;
    padding: 10px 30px;
}
/* c2 ends */
/* c3 starts */
.c3{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    cursor: pointer;
}
.c3:hover .c3-txt{
    width: 240;
}

.c3 img{
    display: block;
    width: 240;
    height: 240;
}

.c3-txt{
    width: 0;
    height: 240;
    background-color: rgba(255, 255, 255, 0.28);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease;
}

.c3-txt h2{
    color: white;
    font-size: 20px;
    border: 2px solid white;
    padding: 10px 30px;
}
/* c3 ends */
/* c4 starts */
.c4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
    cursor: pointer;
}
.c4:hover .c4-txt{
    width: 240;
}

.c4 img{
    display: block;
    width: 240;
    height: 240;
}

.c4-txt{
    width: 0;
    height: 240;
    background-color: rgba(255, 255, 255, 0.28);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease;
}

.c4-txt h2{
    color: white;
    font-size: 20px;
    border: 2px solid white;
    padding: 10px 20px;
}
/* c4 ends */
/* c5 starts */
.c5{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
    cursor: pointer;
}
.c5:hover .c5-txt{
    width: 240;
}

.c5 img{
    display: block;
    width: 240;
    height: 240;
}

.c5-txt{
    width: 0;
    height: 240;
    background-color: rgba(255, 255, 255, 0.28);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease;
}

.c5-txt h2{
    color: white;
    font-size: 20px;
    border: 2px solid white;
    padding: 10px 15px;
}
/* c5 ends */
/* c6 starts */
.c6{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
    cursor: pointer;
}
.c6:hover .c6-txt{
    width: 240;
}

.c6 img{
    display: block;
    width: 240;
    height: 240;
}

.c6-txt{
    width: 0;
    height: 240;
    background-color: rgba(255, 255, 255, 0.28);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease;
}

.c6-txt h2{
    color: white;
    font-size: 20px;
    border: 2px solid white;
    padding: 10px 25px;
}
/* c5 ends */




header, ul, li, p, div, blockquote, footer, section {
/*    border: 3px solid red ;*/
}
